body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    font-size: 100%;
}

#editor {
    height:300px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #eee;
    font-family: 'PT Mono', monospace;
    margin-bottom: 20px;
}

header {
    background: #394046;
    margin-bottom: 40px;
    padding: 10px;
}

div.topbar {
    background: #C52727;
}

header p {
    color: white;
    margin: 0;
    font-size: 13px;
    font-weight: 200;
    font-style: italic;
}

div.topbar h1 {
    letter-spacing: 6px;
    font-size: 60px;
    margin: 0;
    font-family: 'Bangers', cursive;
    color: white;
}

div.runner {
    display: flex;
    justify-content: space-between;
    vertical-align: bottom;
}

.main p {
    font-size: 14px;
    color: #394046;
    font-family: 'Lato';
}

ul#examples {
    list-style-type: none;
}

ul li {
    border-radius: 5px;
    border: 1px solid #eee;
    padding: 10px 20px;
    cursor: pointer;
}

ul#features {
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color: white;
    display: flex;
}

ul#features li {
    border: none;
}


ul li:hover {
    border: 1px solid #46A609;
    cursor: pointer;
}

ul h5 {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

ul li p {
    margin-bottom: 0px;
}

h4 {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #C52727;
    font-size: 24px;
    font-family: 'Bangers', cursive;
}

.button.button-primary { 
    background-color: #46A609;
    border-color: #46A609;
}

.button.button-primary:hover { 
    background-color: #4db60a;
    border-color: #4db60a;
}

div#results {
    border: 2px solid #eee;
    padding: 8px 14px;
    border-radius: 5px;
}

div#results p {
    font-family: 'PT Mono', monospace;
    margin-bottom: 0;
}

div#results.success {
    border-color: #46A609;
}

div#results.failure {
    border-color: #C52727;
}

.slider {
	overflow-y: hidden;
	max-height: 200px; /* approximate max height */

	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider.closed {
	max-height: 20px;
}
