body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-size: 100%;
}

#editor {
    height:300px;
    font-size: 14px;
    border: 1px solid #eee;
    font-family: 'PT Mono', monospace;
    margin-bottom: 20px;
}

header {
    font-family: 'Poppins', sans-serif;
    background: #394046;
    color: #AF956F;
    margin-bottom: 40px;
    text-shadow: 0 1px 1px #14191f;
}

header h1 {
    letter-spacing: 3px;
    font-size: 40px;
    margin: 0;
    padding-top: 18px;
    text-shadow: 1px 1px #d3c5b1;
}

div.runner {
    display: flex;
    justify-content: space-between;
    vertical-align: bottom;
}

.main p {
    font-size: 14px;
    color: #394046;
    font-family: 'Lato';
}

ul#examples {
    list-style-type: none;
}

ul li {
    border-radius: 5px;
    border: 1px solid #eee;
    padding: 10px 20px;
    cursor: pointer;
}

ul li:hover {
    border: 1px solid #46A609;
    cursor: pointer;
}

ul h5 {
    margin-bottom: 5px;
    font-size: 14px;
    text-transform: uppercase;
}

ul li p {
    margin-bottom: 0px;
}

h4 {
    text-transform: uppercase;
    color: #C52727;
    font-size: 24px;
}

.button.button-primary { 
    background-color: #0099dd;
    border-color: #0099dd;
}
